@model IEnumerable<Cstieg.Sales.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<button class="pull-right" onclick="editIndex.toggleEditable(this, '/Edit/Products/Update');">Edit Values As Table</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingScheme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOnFrontPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoNotDisplay)
        </th>
        <th>
            Diameter
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr model-id="@item.Id">
        <td field-name="Name" field-type="string">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td field-name="Price" field-type="decimal">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td field-name="Shipping" field-type="decimal">
            @Html.DisplayFor(modelItem => item.Shipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingScheme.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductInfo)
        </td>
        <td field-name="DisplayOnFrontPage" field-type="boolean">
            @Html.DisplayFor(modelItem => item.DisplayOnFrontPage)
        </td>
        <td field-name="DoNotDisplay" field-type="boolean">
            @Html.DisplayFor(modelItem => item.DoNotDisplay)
        </td>
        <td field-name="Diameter" field-type="decimal">
            @item.ProductExtension.Diameter
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to Edit Menu", "Edit", "Home")