@model Cstieg.Sales.Models.Order

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Order Success - @Model.ToString()</title>
</head>
<body style="background:linear-gradient(to right, #fb9, white 10%, white 90%, #fb9);margin:0;padding:0;font-family:arial">
    <div style="width:800px;margin:auto;padding:15px;height:100vh;background-color:white;display:table">
        <div>
            <img src="https://www.stovepipeheatsaver.com\Content\images\StovepipeHeatSaverLogo.png" style="max-width:300px">
        </div>
        <h1>Thank you for your order, @Model.Customer.FirstName!</h1>
        <br />
        <p>You have successfully placed your order.  We will ship to @Model.ShipToAddress via US Postal Service.</p>
        <br />
        <h2 style="color:white;background-color:maroon;border:red outset 2px;padding:5px;border-radius:7px;">Order Details</h2>
        @foreach (var orderDetail in Model.OrderDetails)
        {
            if (orderDetail.Product.WebImages.Count > 0)
            {
                <img src="@ViewBag.baseURL@orderDetail.Product.WebImages.First().ImageUrl" />
            }
            <p style="font-weight:bold">Item: @orderDetail.Product.Name</p>
            <p>Quantity: @orderDetail.Quantity</p>
            <p>Paid: $@orderDetail.TotalPrice</p>
            <br />
        }
        <hr style="color: green;" />
        <p style="font-weight:bold">Total: $@Model.Total</p>

        <div style="margin-top:100px;">
            <h4 style="color:#555;">You may also be interested in this website:</h4>
            <div style="max-width:350px;margin:10px 0;padding:5px;border:lightgray 2px outset;border-radius:10px;
				background:linear-gradient(#EFE, #DFD)">
                <a href="https://www.deerflypatches.com" style="text-decoration:none;color:black;display:flex">
                    <div>
                        <img src="https://www.deerflypatches.com\Content\images\deerflypatches-logo.png"
                             style="max-width:320px">
                    </div>
                    <br />
                    <div style="margin:5px;padding:10px;font-family:Tahoma;font-size:14pt">
                        Stop Deerflies from Biting. Wear the Patch!
                    </div>
                </a>
            </div>

        </div>
    </div>
</body>
</html>