@model StovepipeHeatSaver.Models.Product

@{
    ViewBag.Title = "Product";
}

<h1>@Model.Name</h1>

<div class="row">
    <section id="product-page-images" class="col-md-6">
        @switch (Model.WebImages.Count())
        {
            case 0:
                {
                    <picture>
                        <img src="~/Content/images/ImageUnavailable.png" alt="@Model.Name image" />
                    </picture>
                    break;
                }
            case 1:
                {
                    <picture>
                        <img src="@Model.WebImages.Single().ImageUrl" srcset="@Model.WebImages.Single().ImageSrcSet" sizes="(min-width: 992px) 50vw, 100vw" />
                    </picture>
                    break;
                }
            default:
                {
                    <div id="product-image-carousel" data-interval="5000" data-ride="carousel" class="carousel slide">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            @for (var i = 1; i < Model.WebImages.Count(); i++)
                        {
                                <li data-target="#myCarousel" data-slide-to="@i"></li>
                            }
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="@Model.WebImages.First().ImageUrl"
                                     srcset="@Model.WebImages.First().ImageSrcSet"
                                     sizes="(min-width: 992px) 50vw, 100vw"
                                     alt="@Model.Name - image 1">
                                <div class="carousel-caption">@Model.WebImages.First().Caption</div>
                            </div>
                            @for (var i = 1; i < Model.WebImages.Count(); i++)
                        {
                                <div class="item">
                                    <img src="@Model.WebImages.ElementAt(i).ImageUrl"
                                         srcset="@Model.WebImages.ElementAt(i).ImageSrcSet"
                                         sizes="(min-width: 992px) 50vw, 100vw"
                                         alt="@Model.Name - image @i">
                                    <div class="carousel-caption">@Model.WebImages.ElementAt(i).Caption</div>
                                </div>
                            }
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel"
                           data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel"
                           data-slide="next">&rsaquo;</a>
                    </div>
                    break;
                }
        }

    </section>


    <section id="product-page-description" class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>Stovepipe Circumference</dt>
            <dd>
                @Html.DisplayFor(model => model.Circumference) inches
            </dd>

            <dt>
                Fits stovepipes with circumference of
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MinCircumference) to @Html.DisplayFor(model => model.MaxCircumference) inches
            </dd>

            <dt>
                @Html.LabelFor(model => model.Price)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                US Shipping
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Shipping)
            </dd>

            <dt>
                Availability
            </dt>
            <dd>
                In stock
            </dd>

            <dt>
                Ships within
            </dt>
            <dd>
                1 business day
            </dd>

        </dl>
        <div class="button-container">
            <button class="btn buy-now centered" onclick="buyNow(@Model.Id)">Buy Now</button>
            <br />
            <button class="btn add-to-shopping-cart centered" onclick="addToShoppingCart(@Model.Id)">Add to Shopping Cart</button>
        </div>
    </section>
</div>

<section id="product-page-productinfo" class="row">
    <h3>Product information</h3>
    @Html.Raw(Model.ProductInfo)
</section>

